{% extends "partials/base.html" %}
{% load static %}
{% block main %}     
<section class="value section" id="value">
    <div class="value__container container grid">
        <div class="value__images">
            <div class="value__orbe"></div>

                <div class="value__img">
                    <img src={% static "assets/img/value.jpg" %} alt="">
                </div>
            </div> 
            <div class="value__content">
                
                <div class="value__data">
                    <h2 class="section__title">
                        Sign Up
                    </h2>
                {% if form.errors %}
                <div class="section__subtitle alert-danger">
                    <strong>{{form.errors}}</strong>
                </div>
                {% endif %}


                    <a class="section__subtitle" href="{% url 'userauths:sign-in' %}" >Allready have account!</a>
                </div><br>
                <form method="post" method="POST">
                    {% csrf_token %}
                    <div class="home__search">
                        {{form.username}}
                    </div>
                    <div class="home__search">
                        {{form.email}}
                    </div>
                    <div class="home__search">
                        {{form.password1}}
                    </div>
                    <div class="home__search">
                        {{form.password2}}
                    </div><br>
                        <button type="submit" class="button register__button"  name="login">Register</button>
                </form>
            </div>
        </div>
</section>


{% endblock main %}